@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --backgroud-principal: #e7e7e7;
    --backgroud-contact: #cca967;
    --backgroud-border: #cca967;
    --backgroud-txt: #e7e7e7;
    --backgroud-txt2: #000;
    --backgroud-header: #5c0008;
    --gradient: linear-gradient(to right, #f9f295, #e0aa3e, #faf398,#b88a44);
    --gradient2: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47,#edc967);
    --gradient3: linear-gradient(to bottom, #b88a44, #ae8625, #f7ef8a, #d2ac47,#b88a44, #ae8625, #f7ef8a, #d2ac47,#b88a44);
}

body{
    background-color: var(--backgroud-principal);

    /*font-family: 'Playfair Display', serif;
    usar essa fonte no titulo principal h1  
    */
}

/*Começo (header)*/
/* Começo do conteúdo (header-infos) */
.infos{
    display: flex;
    justify-content: space-around;
    background-color: var(--backgroud-header);
    padding: 10px 0;
    border-bottom: 1px solid var(--backgroud-border);
    border-image: var(--gradient) 1;
}

.infos .contact-info{
    display: flex;
    flex-direction: row;
}

.infos .txt-info{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.infos .txt-info i{
    margin: 0 7px;
    font-size: 14px;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.infos .txt-info p{
    font-size: 14px;
    font-weight: 500;
    color: var(--backgroud-txt);
}

#social-media{
    display: none;
}

.social{
    display: flex;
    flex-direction: row;
}

.social a i{
    margin: 0 4px;
    font-size: 17px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s, background-image 0.5s;
}

.social a i:hover{
    background: var(--backgroud-contact);
    color: var(--backgroud-header);
}
/* Fim do conteúdo (header-infos) */


/* Começo do conteúdo (nav) */
header nav{
    background-color: var(--backgroud-header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

header #menu a{
    font-size: 16px;
    margin: 0 10px;
    color: var(--backgroud-txt);
    font-weight: 500;
    padding: 6px;
    transition: 0.5s, background-image 0.5s;
}

header #menu a:hover{
    border-bottom: 1px solid var(--backgroud-contact);
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.border{
   background: var(--gradient);
   padding: 2px;
   border-radius: 40px;
}

.contact{
    background: var(--gradient);
    padding: 7px 20px;
    border-radius: 20px;
    transition: 0.3s;
    border: 2px solid var(--backgroud-header);
}

.contact .bi{
    color: var(--backgroud-header);
}

.contact a{
    color: var(--backgroud-header);
    font-weight: 600;
    font-size: 15px;
}

header .menu-media{
    display: none;
}

#info-media{
    display: none;
}
/* Fim do conteúdo (nav) - continuar no @media (max-width: 768px)*/
/*Fim (header)*/



/*Começo - main*/
/*Começo - (Home)*/
main{
    margin: auto;
}

main .home{
    display: grid;
    padding: 70px 50px;
    position: relative;
    background-color: var(--backgroud-header);
}

main .home .hm-content{
    margin: auto;
    display: flex;
}

main .home .hm-content .content{
    max-width: 65%;
}

main .home .hm-content .txt{
    text-align: center;
}

main .home .hm-content h1{
    font-size: 38px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

main .home .hm-content .sub-title{
    margin-bottom: 30px;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

main .home .hm-content .sub-txt{
    margin: auto;
    font-size: 18px;
    color: var(--backgroud-txt);
    max-width: 80%;
    font-weight: 500;
}

main .home .hm-content .success{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

main .home .hm-content .success .border{
    border-radius: 40px;
    padding: 2px;
}

main .home .hm-content .success .btn{
    background: var(--gradient);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    border: 2px solid var(--backgroud-header);
}

main .home .hm-content .success .btn a {
    color: var(--backgroud-header);
}

main .home .hm-content .success .info-success{
    display: flex;
    margin: 0 30px;
}

main .home .hm-content .success .info-success span{
    margin: 0 7px;
}

main .home .hm-content .success .info-success h3{
    color: var(--backgroud-contact);
    text-align: left;
}

main .home .hm-content .success .info-success p{
    color: var(--backgroud-txt);
    font-family: 16px;
}

main .home .img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--backgroud-border);
    max-width: 430px;
    margin: 0 40px;
    border-radius: 50px 0;
}

main .home .img img{
    max-width: 430px;
    transform: translate(-30px, -20px);
    border-radius: 50px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
}
/*Fim - (Home)*/




/*Começo - (About)*/
main .about{
    padding: 60px 0;
    position: relative;
    background-color: var(--backgroud-principal);
}

main .about .ab-content{
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

main .about .ab-content .content{
    max-width: 65%;
}


main .about .ab-content h1{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    margin: 0 3px;
    text-align: center;
    margin-bottom: 30px;
}

main .about .ab-content .sub-title{
    color: var(--backgroud-contact);
}

main .about .ab-content .sub-txt{
    font-size: 18px;
    color: var(--backgroud-txt2);
    max-width: 80%;
    margin: auto;
}

main .about .ab-content .success{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

main .about .ab-content .success .btn{
    background-color: var(--backgroud-contact);
    padding: 7px 15px;
    border-radius: 20px;
    color: var(--backgroud-txt2);
    font-size: 18px;
}

main .about .img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--backgroud-border);
    max-width: 390px;
    margin: 0 40px;
    border-radius: 50px 0;
}

main .about .img img{
    max-width: 390px;
    transform: translate(30px, 20px);
    border-radius: 50px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
}
/*Fim - (About)*/




/*Começo - (Services)*/
main .services{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--backgroud-principal);
}

main .services .sv-content{
    margin: auto;
    max-width: 1300px;
    padding: 20px 0;
}


main .services .sv-content h1{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    text-align: center;
}

main .services .sv-content .sub-title{    
    color: var(--backgroud-contact);
}

main .services .sv-content .sub-txt{
    margin: 30px 15px;
    font-size: 18px;
    color: var(--backgroud-txt2);
}

main .services .sv-content .services-cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin: auto;
}

main .services .sv-content .services-cards .card{
    margin: 15px;
    padding: 15px;
    border: 1px solid var(--backgroud-contact);
    display: flex;
    flex-direction: row;
    border-radius: 50px 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.171);
}

main .services .sv-content .services-cards .card img{
    width: 50px;
}

main .services .sv-content .services-cards .card .card-txt{
    margin-left: 15px;
}

main .services .sv-content .services-cards .card .card-txt h4{
    font-size: 20px;
    margin-bottom: 7px;
}

main .services .sv-content .services-cards .card .card-txt p{
    color: var(--backgroud-txt2);
}
/*Fim - (Services)*/



/*Começo - (Team)*/
main .team{
    margin-top: 100px;
}

main .team .tm-content{
    margin: auto;
    max-width: 1300px;
    padding: 20px 0;
    display: flex;
}

main .team .tm-content .content{
    padding: 30px;
    padding: 0 20px;
    border-right: 1px solid var(--backgroud-border);
    border-image: var(--gradient3) 1;
}

main .team .tm-content .txt{
    text-align: center;
}

main .team .tm-content h1{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}


main .team .tm-content .sub-title{    
    color: var(--backgroud-contact);
}

main .team .tm-content .sub-txt{
    margin: 30px 15px;
    font-size: 18px;
    color: var(--backgroud-txt2);
}

main .team .tm-content .success{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .team .tm-content .btn{
    background-color: var(--backgroud-contact);
    padding: 7px 15px;
    border-radius: 20px;
    color: var(--backgroud-txt2);
    font-size: 18px;
}

main .team .tm-content .team-cards{
   padding: 40px;
}

main .team .tm-content .team-cards .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

main .team .tm-content .team-cards .card{
    margin: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.171);
    border-radius: 20px;
    border: 1px solid var(--backgroud-border);
    width: 250px;
}

main .team .tm-content .team-cards .card img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

main .team .tm-content .team-cards .card .card-txt{
   text-align: center;
}

main .team .tm-content .team-cards .card .card-txt h3{
    font-size: 20px;
}

main .team .tm-content .team-cards .card .card-txt p{
    color: var(--backgroud-txt2);
    font-size: 14px;
}

main .team .tm-content .team-cards .card .card-txt .info{
    margin: 6px 0;
    padding: 0 10px;
    font-size: 16px;
}

main .team .tm-content .team-cards .card .card-social{
    text-align: center;
    margin: 20px;
}

main .team .tm-content .team-cards .card .card-social i{
    padding: 7px;
    font-size: 13px;
    border-radius: 50%;
    background-color: var(--backgroud-contact);
    color: var(--backgroud-header);
    margin: 0 5px;
    transition: 0.5s;
}

main .team .tm-content .team-cards .card .card-social i:hover{
    background-color: var(--backgroud-header);
    color: var(--backgroud-contact);
}
/*Fim - (Team)*/


/*Começo - (Footer)*/
footer{
    display: flex;
    margin-top: 80px;
    background-color: var(--backgroud-header);
}

footer .logo{
    display: flex;
    width: 300px;
}

footer .logo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

footer .logo img{
    width: 200px;
}

footer .contact-info{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer .info .name{
    margin-top: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--backgroud-border);
    border-image: var(--gradient2) 1;
}

footer .contact-info h1{
    font-size: 18px;
}

footer .contact-info h4{
    font-size: 15px;
}

footer .contact-info .info h3{
    margin-top: 15px;
}

footer .contact-info .info .txt-info{
    display: flex;
    flex-direction: row;
    margin: 7px 0;
}

footer .contact-info .bi{
    margin-right: 10px;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

footer .contact-info p{
    font-size: 14px;
    font-weight: 600;
}

footer .end .txt-info{
    margin-top: 20px
}

footer .end .txt-info .txt{
    display: flex;
    margin: 15px 0;
}

footer .end iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

footer .social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .social-media .icon{
    text-align: center;
    margin-top: 10px;
}

footer .social-media .icon i{
    margin: 0 10px;
}
