@media (max-width: 1216px){
    main .services .sv-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .team{
        margin-top: 50px;
    }

    main .team .tm-content{
        display: flex;
        flex-direction: column;
    }

    main .team .tm-content .content{
        max-width: 80%;
    }

    main .team .tm-content .team-cards{
        padding: 40px;
        border-left: transparent;
        margin-top: 50px;
        border-top: 1px solid var(--backgroud-border);
        border-image: var(--gradient2) 1;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    footer .info{
        margin-top: 30px;
    }

    main .services .sv-content .services-cards{
        grid-template-columns: 1fr 1fr;
    }

}


@media (max-width: 1040px){
    header .infos{
        display: flex;
        align-items: center;
    }
    header .infos .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 11px;
    }

    header .infos .txt-info{
        margin: 7px 3px;
    }

    main .home .hm-content{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    main .home .img{
        margin-top: 20px;
    }
    

    main .home .hm-content .content{
        margin: 30px 0;
        max-width: 100%;
    }

    main .about .ab-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    main .about .ab-content .content{
        margin: 40px 0;
        max-width: 100%;
    }
}


@media (max-width: 923px){
    main .team .tm-content .team-cards .cards{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 823px){
    main .services .sv-content .services-cards{
        grid-template-columns: 1fr;
    }

    main .team .tm-content .team-cards .cards{
        grid-template-columns: 1fr;
    }
}


@media (max-width: 768px){
    /*Começo (header)*/

    /* Começo do conteúdo (infos)*/
    header #hbg{
        display: flex;
        right: 0;
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        z-index: 1;
        background-color: var(--backgroud-header);
    }

    header .infos{
        display: none;
    }
    /* Fim do conteúdo (infos)*/


    /* Começo do conteúdo (nav)*/
    header nav{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 38px 0;
        background: var(--backgroud-contact);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25S ease;
        z-index: -1;
        transition-delay: .25s;
        display: flex;
        flex-direction: column;
    }
    
    nav.ativar{
        left: 0;
        transition-delay: 0s;
    }
    

    nav .ativar-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--backgroud-header);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }


    nav.ativar .ativar-nav{
        transition-delay: .25s;
        left: 0;
    }

    nav #menu a{
        display: flex;
        font-size: 1rem;
        margin: 10px 0;
        transform: translateX(-30rem);
        transition: .20s ease;
        transition-delay: 0s;
        align-items: center;
        justify-content: center;
    }

    nav.ativar #menu a{
        transform: translateX(0);
        transition-delay: .25s;
        border-bottom: transparent;
    }


    nav #info-media .contact-info .txt-info{
        display: flex;
        font-size: 1rem;
        transform: translateX(-30rem);
        transition: .20s ease;
        transition-delay: 0s;
        align-items: center;
        justify-content: center;
    }

    nav.ativar #info-media .contact-info .txt-info{
        transform: translateX(0);
        transition-delay: .25s;
    }

    nav #info-media .social{
        display: flex;
        font-size: 1rem;
        transform: translateX(-30rem);
        transition: .20s ease;
        transition-delay: 0s;
        align-items: center;
        justify-content: center;
    }
    
    nav.ativar #info-media .social{
        transform: translateX(0);
        transition-delay: .25s;
    }
    

    nav .logo{
        display: none;
    }

    nav .contact{
        display: none;
    }

    #info-media{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border-bottom: none;
    }

    nav #info-media .contact-info{
        display: flex;
        width: 100%;
        padding-top: 10px;
        font-size: 1rem;
        transform: translateX(-55rem);
        transition: .1s ease;
        transition-delay: 0s;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 1px solid var(--backgroud-contact);
        border-image: var(--gradient) 1;
    }

    nav.ativar #info-media .contact-info{
        transform: translateX(0);
        transition-delay: .25s;
    }
    

    #info-media .contact-info .txt-info{
        margin: 10px 0;
    }

    #info-media .contact-info .txt-info p{
        font-size: 17px;
        color: var(--backgroud-txt);
    }

    #info-media .social{
        margin-top: 20px;
    }

    #info-media .social a{
        margin: 0 7px;
    }
    
    #info-media .social i{
        transition: 0.5s;
        background: var(--gradient);
        color: var(--backgroud-header);
    }
    /* Fim do conteúdo (nav)*/



    /* Começo do conteúdo (menu-media)*/
    header .menu-media{
        display: flex;
        justify-content: space-around;
        padding: 20px 3px;
    }
   
    header .icon-media{
        display: flex;
    }

    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: transparent;
    }
    
    #border{
        display: none;
    }
    
    .icon-media .contact i{
        font-size: 20px;
        background: var(--gradient);
        color: var(--backgroud-header);
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-media .contact .bi-list{
        background: transparent;
        font-size: 27px;
        background-image: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .icon-media .contact .bi-list:hover{
        background-color: transparent;
        border: transparent;
    }
    /* Fim do conteúdo (header)*/

    main .home{
        padding-top: 120px;
    }

    .up i{
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
    
    .up .bi-whatsapp{
        bottom: 90px;
        right: 30px;
    }
}


@media (max-width: 640px){  
    header .menu-media .icon-media .bi-whatsapp{
       font-size: 17px;
    }

    #info-media .contact-info .txt-info p{
        font-size: 15px;
    }

    main .sub-txt{
        font-size: 15px;
    }

    main .home .hm-content .success .info-success p{
        font-size: 15px;
    }

    main .home .img{
        max-width: 350px;
    }

    main .home .img img{
        max-width: 350px;
    }

    main .home .hm-content h2{
        font-size: 30px;
    }

    main .home .hm-content .success .info-success h3{
        font-size: 15px;
    }

    main .about .img{
        max-width: 350px;
    }

    main .about .img img{
        max-width: 350px;
    }

    main .about .ab-content h2{
        font-size: 25px;
    }

    main .about .ab-content .success .btn{
        font-size: 15px;
    }

    main .services .sv-content h2{
        font-size: 25px;
    }

    main .services .sv-content .services-cards .card .card-txt p{
        font-size: 15px;
    }
    
    main .services .sv-content .services-cards .card .card-txt h4{
        font-size: 17px;
    }

    main .team .tm-content h4{
        font-size: 15px;
    }

    main .team .tm-content h2{
        font-size: 25px;
    }

    main .team .tm-content .btn{
        font-size: 15px;
    }

    nav #menu a{
        font-size: 15px;
    }

    footer h3{
        font-size: 17px;
    }

    footer{
        grid-template-columns: 1fr;
    }

    footer .logo{
        margin-top: 30px;
    }

    footer .info{
       margin-top: 30px;
    }

    footer .end{
        margin-top: 30px;
    }

    footer .social-media{
        margin: 30px 0;
    }

    .up i{
        font-size: 16px;
        padding: 6px 8px;
    }

    .up i{
        bottom: 30px;
        right: 15px;
    }
    
    .up .bi-whatsapp{
        bottom: 90px;
        right: 15px;
    }

}


@media (max-width: 482px){
    main .home .img{
        max-width: 280px;
        border: transparent;
    }

    main .home .img img{
        max-width: 280px;
        transform: translate(0, 0);
    }

    main .home .hm-content .success .btn{
        white-space: nowrap;
    }

    main .home .hm-content .success .info-success p{
        white-space: nowrap;
    }

    main .about .img{
        max-width: 280px;
        border: transparent;
    }

    main .about .img img{
        max-width: 280px;
        transform: translate(0, 0);
    }

    main .home .hm-content .success{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    main .home .hm-content .success .border{
        margin-top: 10px;
    }
    
   
    main .services .sv-content .services-cards .card {
        max-width: 300px;
    }

}


@media (max-width: 420px){
    main .home .img{
        max-width: 250px;
    }

    main .about .img{
        max-width: 250px;
    }

}





