@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --backgroud-principal: #c0bfb2;
    --backgroud-secundario: #ece6d3;
    --backgroud-footer: #221712;
    --backgroud-contact: #cca967;
    --backgroud-border: #cca967;
    --backgroud-txt: #e7e7e7;
    --backgroud-txt2: #000;
    --backgroud-header: #5c0008;
    --gradient: linear-gradient(to right, #f9f295, #e0aa3e, #faf398,#b88a44);
    --gradient2: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47,#edc967);
    --gradient3: linear-gradient(to bottom, #b88a44, #ae8625, #f7ef8a, #d2ac47,#b88a44, #ae8625, #f7ef8a, #d2ac47,#b88a44);
}

body{
    background-color: var(--backgroud-principal);
}


main .sub-title{
    font-family: 'Playfair Display', serif;
    color: var(--backgroud-header);
}

main .sub-txt{
    margin: auto;
    max-width: 80%;
}

h1{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    text-align: center;
}

h2{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    text-align: center;
}

p{
    font-size: 17px;
    color: var(--backgroud-txt2);
}

h3{
    font-size: 18px;
}

a{
    font-size: 16px;
}

i{
    font-size: 17px;
}